# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\USS\UNISO\5 SEMESTRE\LINGUAGENS PARA INTERNET\AULA4-11SET\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
